@import 'bootstrap';
@import 'bootstrap/theme';
@import 'exercises';
@import 'welcome';
@import 'sidebar-nav';

$purple-back: #000;
$sidebar-color: #999;
$purple-highligh: #353267;
$pure-white: #fff;
$pink: #ffc0cb;
$red: #f00;
$heading-background: #998799;
$background-green: #7cb875;
$index-container: #464646;
