$pure-white: #fff;
$pink: #ffc0cb;
$red: #f00;
$heading-background: #998799;
$background-green: #7cb875;


html {
  height: 100%;
}

.container-fluid {
  background: url('https://i.imgur.com/I0vwZdt.jpg') 100%;
  background-color: $background-green;
  background-repeat: x-repeat;
  background-size: cover;
  min-height: 100%;
  overflow-y: scroll;
  padding-top: 0;
  width: 100%;
}

.exercise-holder {
  background-color: $pink;
  border-radius: 20px;
  margin: 2% !important;
  opacity: .7;
  padding-bottom: 5%;
  position: relative;
}

.exercise-editable-holder {
  background-color: $pink;
  border-radius: 20px;
  margin: 2%;
  padding-bottom: 5%;
  position: relative;
}

.item {
  align-content: center;
  text-align: center;
}

.exercise-name {
  background-color: $red;
  border-radius: 15px;
  color: $pure-white;
  opacity: .3;
  padding-top: 0;
}

.exercise-container {
  border-radius: 30px;
}

.intro-title {
  text-align: center;
}

.intro-body {
  text-align: center;
}

.intro-body h3{
  font-size: 20px;
}

.intro-container {
  background-color: $heading-background;
  margin-left: 7%;
  margin-right: 7%;
  opacity: .5;
  width: 60%;
}

.patch-button {
  display: inline-block;
  height: auto;
}

.custom-btn {
  background-color: #d3ffce !important;
  border-radius: 25px;
  margin-bottom: 5%;
}


@media only screen and (min-width: 611px) and (max-width: 2000px) {
  .container-fluid {
    background-color: $background-green;
    background-image: url('https://i.imgur.com/I0vwZdt.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    padding-top: 0;
    width: auto;
  }
}
