.greeting-container {
  border-radius: 10px;
  background-color: #464646;
  opacity: .3;
  width: 65%;
  margin: 8%;
  padding: 3%;
  
}
.greeting-body {
  text-align: center;
    color: #fff;
      font-weight: 300;
}
