$index-container: #464646;

.greeting-container {
  background-color: $index-container;
  border-radius: 10px;
  margin-top: 2%;
  margin-right: 20%;
  margin-left: 10%;
  opacity: .3;
  padding: 7%;
  padding-right: 7%;
  width: 75%;


}

.greeting-body {
  color: $pure-white;
  font-weight: 300;
  text-align: center;
}
