$index-container: #464646;

.greeting-container {
  background-color: $index-container;
  border-radius: 10px;
  margin: 8%;
  opacity: .3;
  padding: 3%;
  width: 65%;
}

.greeting-body {
  color: $pure-white;
  font-weight: 300;
  text-align: center;
}
