<div class="col-md-offset-12">

</div>
<div class="greeting-container">
  <h1 class='greeting-body'>Thank You for visiting Play Log. To start your journey click <span>{{#link-to "sign-in"}}Sign Up!{{/link-to}}</span>

  Or Checkout out how other users like to stay {{#link-to "exercises"}}Moving{{/link-to}}</h1>
  <br>
  <h2 class = "greeting-body"> Come back, often and don't forget to mark your routines as completed each time!</h2>
</div>
