{{#each model as |exercise| }}
{{exercise-display exercise=exercise delete='deleteExercise' done='toggleDone' save='createExercise' changeAction='changeAction'}}
<<<<<<< HEAD
{{!-- {{#link-to 'exercise' exercise}} --}}
{{!-- <h3>{{exercise.name}}</h3> --}}
{{!-- {{/link-to}} --}}
=======
>>>>>>> fix-errors
{{/each}}
